//Write your scss here and then compile it to "style.css"...

button {
  background-color: black;
  color: white;
  height: 75px;
  width: 75px;
}

.container {
  display: flex;
  justify-content: space-around;
}
